.*.swp
.*.cfg
.*.pyc
*.o
*.d
*.exe
*.core
defaults.mk
*.files
*.config
*.includes
*.creator
*.user
*.bin
*.exo
*.prg
*.html
*.path-cache
*.xct
/*.cfg
/bin/
/lib/
/obj/
/test/
/dist/
/tools/*/bin/
/tools/*/lib/
/tools/*/obj/
/tools/*/test/
/tools/*/dist/
/tools/bin/
emojidata.h
icon256.h
icon48.h
icon32.h
icon16.h
texts.c
texts.h
xmoji.desktop
xmoji-emojis.def
xmoji-emojis-*.def
xmoji-ui.def
.freetype-2.*.build
freetype-2.*
/ftbundle/root

